.kpi_idr {
    font-family: Helvetica,Arial;
    font-size: 13px;
    background-color: #FFF;
    border: 2px solid #d1d1d1;
    cursor: help;
    height: 65px;
    margin-top: 5px;

    .inner {
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 5px;
    }

    table {
        color: #333;
        font-size: 13px;
        line-height: 18px;
        border-collapse: collapse;
        width: 100%;

        .big {
            font-size: 35px;
            font-weight: 700;
            line-height: 30px;
            padding-right: 10px;
            text-align: right;
        }

        .medium {
            color: #555;
            font-size: 20px;
            margin-bottom: 0px;
            margin-top: 7px;
        }

        .small {
            color: #999;
            font-size: 12px;
            font-weight: 600;
        }

        .image {
            margin-top: 3px;
        }

        .percent {
            float: left;
            width: 1px;
            height: 1px;
            border: 1px solid #c6c6c6;
            margin: 1px;

            &.fill {
                background: #62b304;
                border: 1px solid #62b304;

            }
        }
    }
}